.profile {
    display: flex;
    justify-content: flex-start;
    gap: 60px;
    margin: 0 380px;
    width: 1240px;
}

.link-container {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.link {
  composes: text text_type_main-medium from global;
  text-decoration: none;
  color: #F2F2F3;
  cursor: pointer;
  margin-bottom: 28px;
}

.link-inactive {
    composes: link;
    color:#8585AD;
}

.discription {
    color: #8585AD;
    white-space: normal;
}

