.list-wrapper {
    display: flex;
    width: 608px;
    height: 852px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: scroll;
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    color: inherit;
    text-decoration: inherit;
}