.ingredients-list {
    width: 600px;
    height: 912px;
    overflow: hidden;
}

.tabs {
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, min(272px));
    gap: 32px 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.scroll {
    height: 750px;
    overflow-y: scroll;
}